  <mat-form-field appearance="outline">
    <mat-label>EMail</mat-label>
    <input
      matInput
      #email="ngModel"
      [(ngModel)]="edit.email"
      type="text"
      placeholder="foo@bar.com"
      email
      required
    >
  </mat-form-field>
  <p>Provide the email address connected to your account
    to receive password reset instructions.</p>

<div>
  <button
    mat-stroked-button
    (click)="onSendResetPasswordEmail()"
    [disabled]="email.invalid"
  >Send Reset Password email
  </button>
</div>
