<mat-toolbar>
  <h1>Goy Toot</h1>
  <span>
    <span *ngIf="!isLoggedIn">
      <button
        mat-stroked-button
        (click)="login()"
      >Login</button>
    <button
      mat-stroked-button
      (click)="signup()"
    >Signup</button>
    </span>
    <span *ngIf="isLoggedIn">
      <button
        mat-stroked-button
        (click)="logout()"
      >Logout "{{displayName}}"</button>
    </span>
    <button
      mat-stroked-button
      (click)="onGetSession()"
    >Get Session</button>
    <button
      mat-stroked-button
      (click)="onPostSession()"
    >Post session</button>
    <button
      mat-stroked-button
      (click)="onDeleteSession()"
    >Delete session</button>
  </span>
</mat-toolbar>
