<form [formGroup]="loginForm">
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input
      matInput
      formControlName="email"
      placeholder="Email">
    <mat-error
      *ngIf="loginForm.get('email').invalid">
      {{emailErrorMessage()}}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input
      matInput
      formControlName="password"
      placeholder="Password"
      type="password"
      (keyup.enter)="onSubmit($event)">
    <mat-error
      *ngIf="loginForm.get('password').invalid">
      {{passwordErrorMessage()}}</mat-error>
  </mat-form-field>
</form>
<mat-error *ngIf="submitErrorMessage">
  {{submitErrorMessage}}
</mat-error>
<div>
  <button
    mat-stroked-button
    (click)="onSubmit($event)"
    [disabled]="isLoading"
  >Login
  </button>
  <a routerLink="/forgot-password"
     (click)="closeDrawer.emit()"
  >Forgot Password ?</a>
</div>
