<mat-toolbar>
  <span>
    <a mat-button routerLink="/">Goy Twitter</a>
  </span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <span>
    <div *ngIf="!isLoggedIn">
      <a
        mat-button
        routerLink="/login"
        routerLinkActive="disabled">Login</a>
    <a
      mat-button
      routerLink="/signup"
      routerLinkActive="disabled">Signup</a>
    </div>
    <div *ngIf="isLoggedIn">
      <a mat-button (click)="logout()">Logout</a>
    </div>
  </span>
</mat-toolbar>

<main>
  <router-outlet></router-outlet>
</main>
