<mat-dialog-content>
  <form #signupForm="ngForm">
    <mat-form-field appearance="outline">
      <input
        matInput
        type="text"
        name="displayName"
        ngModel
        #displayNameInput=ngModel
        placeholder="my display name"
        required
        minlength="3"
        maxlength="33"
      >
      <mat-hint>3 to 33 characters</mat-hint>
      <mat-error *ngIf="displayNameInput.invalid">
        Enter valid display name
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input
        matInput
        type="email"
        name="email"
        ngModel
        #emailInput=ngModel
        placeholder="foo@bar.com"
        required
        email>
      <mat-hint>Eg. foo@bar.com</mat-hint>
      <mat-error *ngIf="emailInput.invalid">
        Enter valid email.
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input
        matInput
        type="password"
        name="password"
        ngModel
        #passwordInput="ngModel"
        placeholder="Password"
        required
        minlength="3"
        maxlength="33"
      >
      <mat-hint>3 - 33 characters</mat-hint>
      <mat-error *ngIf="passwordInput.invalid">
        Enter valid password.
      </mat-error>
    </mat-form-field>
  </form>
  <mat-error
    *ngFor="let msg of submitErrorMessages; index as i">
    {{i}}) {{msg}}
  </mat-error>
</mat-dialog-content>
<mat-dialog-actions>
  <button
    mat-stroked-button
    (click)="onSubmit(signupForm)"
    [disabled]="signupForm.invalid || isLoading"
  >Signup
  </button>
</mat-dialog-actions>
