  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input
      matInput
      #email="ngModel"
      [(ngModel)]="edit.email"
      type="text"
      email
      required
    >
    <mat-error>{{errorMessage}}</mat-error>
  </mat-form-field>
  <p>Provide the email address connected to your account
    to receive password reset instructions.</p>

<div>
  <span style="color: green">{{successMessage}}</span>
  <button
    mat-stroked-button
    (click)="onSendResetPasswordEmail()"
    [disabled]="email.invalid || isInProgress"
  >Send Reset Password email
  </button>
</div>
